.projectTitle {
    font-size: 10rem;
    white-space: nowrap;
    margin-bottom: 1rem;
    line-height: 1;
    text-align: center;
    color: var(--text-primary);
    font-weight: 1000;
}

.projectContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 80vh;
}

.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
}

.leftBox {
    border-left: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
    padding: 1rem;
    height: calc(100% + 1px);
}

.leftBoxTitle {
    font-size: 1.1rem;
    color: var(--text-primary);
    font-weight: 900;
    font-family: var(--font-inter);
    line-height: .8;
    margin-bottom: .3rem;
}

.leftBoxDescription {
    font-size: .9rem;
    color: var(--text-secondary);
    font-family: var(--font-inter);
    width: 80%;
    padding-bottom: 15vh;
}

.topContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rightBox {
    width: 40%;
    width: 1300px;
}

.topBottomContainer {
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 70%;
    width: 100%;
    margin-top: 2rem;
}

.bottom {
    display: flex;
    flex-direction: row;
}
