.projectTitle {
    font-size: 10rem;
    white-space: nowrap;
    margin-bottom: 1rem;
    line-height: 1;
    text-align: center;
    color: var(--text-primary);
    font-weight: 1000;
}

.projectContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 80vh;
}

.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
}

.leftBox {
    width: 40%;
}

.leftBoxTitle {
    font-size: 1.5rem;
    color: var(--text-primary);
    font-weight: 900;
    font-family: var(--font-inter);
}

.leftBoxDescription {
    font-size: 1rem;
    color: var(--text-secondary);
    font-family: var(--font-inter);
}

.topContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rightBox {
    width: 40%;
}

.topBottomContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    height: 70%;
    width: 90%;
    margin-top: 2rem;
}

.bottom {
    display: flex;
    flex-direction: row;
}
